nav {
  width: 100%;
  border: solid black 1px;
  font-family: 'Roboto';
  display: inline-block;
}

.nytLogo {
  width: 225px;
  height: 40px;
  }

.navButton {
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  font-size: 11px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;
  font-weight: 700;
  font-family: Arial;
}

.navBarLeft {
  display: inline-block;
  border: solid pink 1px;
  width: 15%;
}

.navBarLeft a {
  margin-left: 10px;
  letter-spacing: 0.1 px;
}

.navText {
  display: inline-block;
}

.navBarRight{
  float: right;
  margin-top: 15px;
}

.navBarLogo {
  display: inline-block;
  width: 70%;
  border: solid black 1px;
  text-align: center;
  vertical-align: middle;
}

.mainWrapper {
  border: solid black 1px;
}

.title{
  width: 500px;
  height: 36px;
  margin: auto;
  margin-top: 55px;
  color: #121212;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 30%;
}

.t2 {
  margin-top: 10px;
}

#superJumbo{
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.desc {
  width: 80%;
  line-height: 1.25rem;
  color: #666;
  margin-right: 7px;
  margin: auto;
  text-align: left;
}
.d1 {
  margin-top: 10px;
}

#span{
  font-size: 14px;
  margin-left: 7px;
}

.articleInfo{
  border: solid pink;
  margin: auto;
  margin-top: 30px;
  width: 40%;
  height: 700px;
}

.articleMedia {
  border: solid red 2px;
  height: 40px;
}

.articleMedia i {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 24px;
}

.byAuthor {
  font-weight: bold;
  font-size: 18px;
}

.date {
  float: left;
  font-size: 16px;
}

#middleSection {
  margin: auto;
  width: 80%;
  height: 600px;
  border: solid black 1px;
}

.midBox {
  display: inline-block;
  margin: 5px;
  width: 24%;
  height: 400px;
  border: solid green 1px;
}
