body {
  font-family: 'Roboto';
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  border: solid black 1px;
  display: inline-block;
}

.nytLogo {
  width: 225px;
  height: 40px;
  }

.navButton {
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  font-size: 11px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;
  font-weight: 700;
  font-family: Arial;
}

.navBarLeft {
  display: inline-block;
  border: solid pink 1px;
  width: 15%;
}

.navBarLeft a {
  margin-left: 10px;
  letter-spacing: 0.1 px;
}

.navText {
  display: inline-block;
}

.navBarRight{
  float: right;
  margin-top: 15px;
}

.navBarLogo {
  display: inline-block;
  width: 70%;
  border: solid black 1px;
  text-align: center;
  vertical-align: middle;
}

/* MAIN CONTENT */

.mainWrapper {

}

.title{
  width: 500px;
  height: 36px;
  margin: auto;
  margin-top: 55px;
  color: #121212;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 30%;
}

.t2 {
  margin-top: 10px;
}

#superJumbo{
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.desc {
  width: 80%;
  line-height: 1.25rem;
  color: #666;
  margin-right: 7px;
  margin: auto;
  text-align: left;
}

.d1 {
  margin-top: 10px;
}

#topSpan {
  font-size: 14px;
  margin-left: 7px;
}

.articleInfo{
  margin: auto;
  margin-top: 30px;
  width: 40%;
}
.articleInfo a{
  color: black;
}
.articleMedia {
  border: solid red 2px;
  height: 40px;
}

.articleMedia i {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}

.articleMedia2 i{
  font-size: 23px;
}

.articleMedia1 i{
  border-radius: 50%;
  background: #e5e5e5;
  padding: 5px;
}

.articleContent{
  font-size: 21px;
  color: #333;
}

.byAuthor {
  font-weight: bold;
  font-size: 18px;
}

.date {
  float: left;
  font-size: 16px;
}

.topSectionMiddle {
  margin-top: 30px;
}

.topSectionMiddle h2 {
  font-size: 18px;
}

.topSectionMiddle p {
  font-size: 16px;
  color: #666;
  line-height: 0.3;
}

#middleSection {
  margin: auto;
  width: 63%;
}

.midBox {
  display: inline-block;
  margin: auto;
}

#midImg {
  width: 100%;
}

.videoSection{
  width: 600px;
}

#videoTitle {
  margin-right: 7px;
  color: #666;
  font-size: 15px;
  line-height: 0.5px;
}

#videoDescription {
  color: #888;
  font-size: 14px;
  line-height: 3px;
}

#bottomImg  {
  width: 720px;
  height: 540px;
  margin: auto;
}

#bicep2Img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 12px;
}
.imageTitle {
  margin-right: 7px;
  color: #666;
  font-size: 17px;
  line-height: 0.5px;
}

#btmSpan {
  color: #888;
  font-size: 14px;
  line-height: 3px;
}

.finalP {
  color: #888;
  font-size: 13px;
}

#articleBottom {
  width: 100%;
  height: 30px;
  border: solid black 1px;
  margin-bottom: 50px;
}

.commentButton {
  float: left;
}

#commentsBtn {
  width: 330px;
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  font-size: 11px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 5px 0px;
  font-weight: 700;
  font-family: Arial;
}

#mediaButtons {
  float: right;
}

#mediaButtons i {
  font-size: 14px;
  margin-right: 10px;
}

/* RECOMMENDATIONS AND POPULAR */

.popular {
  float: right;
  display: inline-block;
  width: 23%;
  border-top: solid black 1px;
  padding-top: 10px;
}

#titlePopular {
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-bottom: 30px;
}

.popular a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.popular ul {
  padding: 0;
  margin-top: 10px;
}

.popular li {
  margin: 20px 0px 10px 0px;
}

.recommendationAndPopular {
  width: 80%;
  height: 1100px;
  margin: auto;
}

.recommendations {
  float: left;
  width: 76%;
  border-top: solid black 1px;
}

#titleRecommendations {
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-align: left;
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}

.recommendedBox {
  display: inline-block;
  width: 32%;
  padding: 4px;
}

.recommendedImg {
  width: 100%;
  height: 58%;
}

.recommendedTitle {
  text-align: right;
  font-size: 11px;
  height: 10px;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
}

.recommendedDescription {
  text-align: left;
  height: 60px;
  color: rgb(18, 18, 18);
  font-size: 1.05rem;
  line-height: 22px;
  font-weight: 500;
}

.recommendedDate {
  text-align: left;
  color: rgb(153, 153, 153);
  font-size: 12px;
  line-height: 1.23em;
}

/* Editor Picks */

.editorPicks {
  width: 75%;
  border-top: solid black 1px;
  float: left;
}

.principalTitleEditor {
  font-weight: bold;
  font-size: 17px;
  color: black;
  text-align: left;
  display: block;
}

.editorBox {
  width: 32%;
  display: inline-block;
}

.editorImg {
  width: 100%;
}

.editorTitle{
  text-align: right;
  font-size: 11px;
  height: 10px;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
}

.editorDescription {
  text-align: left;
  color: rgb(18, 18, 18);
  font-size: 1.1875rem;
  line-height: 22px;
  font-weight: 500;
}

.editorDate {
  text-align: left;
  color: rgb(153, 153, 153);
  font-size: 12px;
  line-height: 1.23em;
}
